@import url("https://fonts.googleapis.com/css?family=Arimo:400,700|Roboto+Slab:400,700");

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1{
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: bold;
	line-height: 28px;
	
}

header h1 {
	font-size: 2.4rem;
	margin: 4rem auto;
}

nav span {
	font-size: 1rem;
}

p {
	font-family: "Roboto Slab", serif;
}

#navegacion a{
	color: #0066aa;
	text-decoration: none;
	border-bottom: #000013 0.16rem solid;
}

header,
footer {
	width: 40rem;
	margin: 2rem auto;
	text-align: center;
}

.add-task-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 25rem;
	height: 5.3rem;
	margin: auto;
	background: #a8a8a8;
	border: #0f0f0f 1px solid;
	border-radius: 10px;
	padding: 0.4rem;
}


.main-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin: 1.6rem auto;
}

.column {
	width: 8.4rem;
	margin: 0 0.6rem;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 1%;
	background: #1c1f22;
	
	border: #000013 1px solid;
	border-radius: 10px;

	padding-top: 0.5%;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-bottom: 0.5%;

	border-bottom: solid black;
	border-right: solid black;
	
}

.column-header {
	padding: 0.1rem;
	/*border-bottom: #000013 0.2rem solid;*/
	
	
	border-radius: 10px;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 20px;
	color: rgb(227, 229, 232);

	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-weight: bold;
	line-height: 28px;

	border-bottom: solid black;
	border-right: solid black;

}

.column-header h4 {
	text-align: center;
}


.task-list {
	min-height: 3rem;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

nav ul {
	margin-left: 1%;
}

.column-button {
	text-align: center;
	padding: 0.1rem;
}

.button {
	font-family: "Arimo", sans-serif;
	font-weight: 700;
	border: #000013 1px solid;
	border-radius: 10px;
	color: #000013;
	padding: 0.6rem 1rem;
	margin-bottom: 0.3rem;
	cursor: pointer;
}

.delete-button {
	background-color: #ff4444;
	margin: 0.1rem auto 0.6rem auto;
}

.delete-button:hover {
	background-color: #fa7070;
}

.add-button {
	background-color: #ffcb1e;
	padding: 0 1rem;
	height: 2.8rem;
	width: 10rem;
	margin-top: 0.6rem;
}

.add-button:hover {
	background-color: #ffdd6e;
}

.task {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	vertical-align: middle;
	list-style-type: none;
	background: #1c1f22;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	margin: 0.4rem;
	height: 4rem;
	border-radius: 10px;
	cursor: move;
	text-align: center;
	vertical-align: middle;
	color: rgb(227, 229, 232);
	box-shadow: 0.5px 1px #000000;
}

.task:hover{
	background: rgba(252, 141, 140, 0.05) none repeat scroll 0% 0%;
}

#taskText {
	background: #fff;
	color: black;
	border: #000013 1px solid;
	border-radius: 10px;
	text-align: center;
	font-family: "Roboto Slab", serif;
	height: 4rem;
	width: 13rem;
	margin: auto 0.8rem auto 0.1rem;
}

.task p {
	margin: auto;
}

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}

.gu-hide {
	display: none !important;
}

.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

.gu-transit {
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}