body{
    background: url('/WEB/images/wp9139434.jpg') no-repeat center center fixed;
    background-size: cover;
}

nav  li{
    margin-left: 10px;
    margin-right: 10px;
}
.top{
    background-color: #17232e;
    font-size: small;
}
.user-logo{
    margin-left: 2%;
    margin-right: 2%;
}
.name-board{
    float: left;
    margin-top: 1%;
    margin-left: 2%;
}


